<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" formControlName="name" />

    <div class="alert alert-danger"
         *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
      Name not specified
    </div>
  </div>
  <div class="form-group">
    <label>login</label>
    <input class="form-control" name="login" formControlName="login" />

    <div class="alert alert-danger"
         *ngIf="myForm.controls['login'].invalid && myForm.controls['login'].touched">
      Incorrect login
    </div>
  </div>
  <div class="form-group">
    <label>role</label>
    <input class="form-control" name="role" formControlName="role" />
    <div class="alert alert-danger"
         *ngIf="myForm.controls['role'].invalid && myForm.controls['role'].touched">
      Only user or admin
    </div>
  </div>
  <div class="form-group">
    <label>password</label>
    <input class="form-control" name="password" formControlName="password" />
    <div class="alert alert-danger"
         *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched">
      Incorrect password
    </div>
  </div>
  <div class="form-group">
    <label>confirm password</label>
    <input class="form-control" name="passwordConfirm" formControlName="passwordConfirm" />
    <div class="alert alert-danger"
         *ngIf="myForm.controls['passwordConfirm'].invalid && myForm.controls['passwordConfirm'].touched">
      Incorrect confirm password
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" [disabled]="myForm.invalid">
      Создать
    </button>
  </div>
</form>
