<div>
  <mat-toolbar class="menu__container">
    <h1>Angular App</h1>
    <nav class="menu">
      <div>
        <a class="menu__link" routerLink="/weather" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          Weather
        </a>
        <a class="menu__link" routerLink="/users" routerLinkActive="active">Users</a>
      </div>
      <div>
        <a class="menu__link" routerLink="/users/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          Log In
        </a>
        <a class="menu__link" routerLink="users/create" routerLinkActive="active">Sig Up</a>
      </div>
    </nav>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
