.menu {
  display: flex;
  justify-content: space-between;

  &__navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &-link {
      padding: 0 10px;
    }
  }
}
