<mat-toolbar class="menu__container">
  <nav class="menu container">
    <h1>
      <a href="/">Angular App</a>
    </h1>
    <ul class="menu__navbar">
      <li routerLinkActive="active">
        <a [routerLink]="['/', 'weather']" class="menu__navbar-link">Weather</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/users', 'list']" class="menu__navbar-link">Users</a>
      </li>
      <li routerLinkActive="active" *ngIf="!service.isAuthenticated()">
        <a [routerLink]="['/users', 'create']" class="menu__navbar-link">Sig Up</a>
      </li>
      <li routerLinkActive="active" *ngIf="service.isAuthenticated()">
        <a href="#" class="menu__navbar-link" (click)="logout()">
          Log Out</a>
      </li>
      <li routerLinkActive="active" *ngIf="!service.isAuthenticated()">
        <a [routerLink]="['/users', 'login']" class="menu__navbar-link">
          Log In</a>
      </li>
    </ul>
  </nav>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
